* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
}
p {
  line-height: 28px;
}
h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}
button {
  background-color: #426868;
  color: #e5efed;
  padding: 20px;
  width: 200px;
  border-radius: 30px;
  border: none;
  margin-top: 20px;
}

.navbar-container {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  margin: 20px 0px 0px 20px;
}
li {
  list-style-type: none;
  display: inline-block;
  margin: 0px 20px 0px 20px;
}
.hero-wrapper {
  background-color: #e5efed;
  margin-left: 20px;
  border: 1px solid #e5efed;
  /* position: relative; */
  max-width: 1440px;
  margin: 0 auto;
}

  .hero-content{
    padding-left: 20px;
    margin-bottom: 30px;
    /* border: 2px solid blue; */
    margin-top: 50px;
  }
  .chair-container{
    /* border: 1px solid yellow; */
    margin-top: 50px;
    padding: 0px 20px 0px 20px
  }
  .chair-one,.chair-two,.chair-three{
    /* border: 2px solid red; */
    max-width: 500px;
    height: 200px;
  }
  .hero-chair {
    margin-right: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    left: 0px;
    /* border: 2px solid red; */
    width: 100%;
  }
  #hero_three {
    margin-top: 150px;
  }
  .contact-wrapper {
    display: block;
    flex-direction: column;
    margin: 40px auto;
  }
  .contact-details{
    padding-left: 20px;
    margin-bottom: 70px;
    margin-top: 70px;

  }
  .talent-wrapper{
    /* border: 2px solid green; */
    margin: 0px auto;
  }
  .talent-creator {
    display: flex;
    margin: 0 auto;
    padding: 20px 10px 10px 20px;
  }
  .talented-heading{
    margin-top: 0px;
  }
  .talent-details{
    max-width: 300px;
    margin-left: 20px;
    margin-top: 0px;
    /* border: 2px solid blue; */
    /* width: 300px; */
  }
  .gallery-wrapper {
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  .gallery-heading {
    /* border: 2px solid red; */
    text-align: center;
    padding: 20px;
  }
.section-one,
.section-two {
  margin: 40px auto;
  /* border: 2px solid black; */  
}
.gallery-one{
  margin-bottom: 10px;
  /* border: 2px solid blue; */
  height: 350px;
}
.gallerytwo-gallerythree, .galleryfour-galleryfive{
  display: flex;
  /* border: 2px solid red; */
}
.gallery-two,.gallery-three{
  margin-right: 10px;
  width: 180px;
  /* border: 2px solid rgb(43, 150, 196); */
}
.gallery-four,.gallery-five{
  margin-right: 10px;
  width: 180px;
  /* border: 2px solid rgb(43, 150, 196); */
}
.gallery-six{
  margin-top: 10px;
  /* border: 2px solid blue; */
  height: 350px;
}


@media (min-width: 768px){
  .hero-wrapper {
    background-color: #e5efed;
    margin-left: 20px;
    border: 1px solid #e5efed;
    /* position: relative; */
    max-width: 1440px;
    margin: 0 auto;
  }
  .hero-content {
    margin-top: 140px;
    margin-bottom: 50px;
    /* border: 2px solid green; */
    max-width: 400px;
  }
  .chair-container{
    /* border: 1px solid red; */
    margin-top: 10px;
    display: flex;
    max-width: 768px;
    margin-left: 130px;
  }
  .hero-chair {
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    /* position: relative; */
    /* height: 450px;
    left: 0px;
    top: -150px; */

    /* border: 2px solid rgb(65, 52, 52); */
    width: 250px;

  }
  .chair-one{
    /* border: 2px solid red; */
    max-width: 500px;
    height: 500px;
    position: relative;
    height: 350px;
    margin-bottom: 0px;
    padding-bottom: 0px;
 
  }
  .chair-two{
    /* border: 2px solid red; */
    max-width: 500px;
    /* height: 500px; */
    position: relative;
    height: 450px;
    left: 0px;
    /* top: -150px; */

  }
  .chair-three{
    /* border: 2px solid red; */
    max-width: 500px;
    height: 500px;
    position: relative;
    height: 450px;
    left: 0px;
    top: -150px;

  }
  #chair1{
    height: 350px;

  }
  #chair3,#chair2 {
    height: 400px;


  }
  #hero_three {
    /* border: 2px solid purple; */
    margin-top: -150px;
    width: 250px;

  }
  .contact-wrapper {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    max-width: 1440px;
    margin: 40px auto 40px auto;
  }
  .talent-wrapper {
    display: flex;
  }
  .talent-creator {
    display: flex;
  }
  
  .gallery-wrapper {
    max-width: 1440px;
    margin: 0 auto;
    height: 500px;
    /* border: 2px solid blue; */
    padding: 10px;
  }
  .section-one,
.section-two {
  margin: 40px auto;
  /* border: 2px solid black;  */
  display: flex; 
  justify-content: center;
}
.gallerytwo-gallerythree, .galleryfour-galleryfive{
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  /* border: 2px solid red; */
}
.gallery-two,.gallery-three{
  /* margin-right: 10px; */
  width: 100%;
  height: 175px;
  /* border: 2px solid rgb(43, 150, 196); */
}
.gallery-four,.gallery-five{
  margin-right: 10px;
  width: 100%;
  height: 175px;
  /* border: 2px solid rgb(43, 150, 196); */
}
.gallery-six{
  margin-bottom: 10px;
  /* border: 2px solid blue; */
  height: 350px;
  margin-left: 5px;
  margin-top: 0px;
}
.gallery-two,.gallery-four{
  margin-bottom: 20px;
}
  
   
}